Titre {
    font-size: 14pt;
    font-weight: bold;
}

Annee, Realisateur {
    color:red;
}

Acteur {
    color:blue;
    font-style: italic;
}

Titre, Annee, Realisateur, Acteur {
    display: block;
}