Films {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    display: block;
}
Titre {
    font-size: 14pt;
    font-weight: bold;
}
Annee, Realisateur {
    color:red;
}
Acteur {
    color:blue;
    font-style: italic;
     
}
Acteur:after {
    content: ', ';
}
Acteur:last-child:after {
    content: '';
}

Titre, Annee, Realisateur, Acteur {
    display: block;
}